.base {
  display: block;
  border: 2px solid #c4c4c4;
  width: 360px;
  height: auto;
  display: block;
  margin: 5% auto 0% auto;
}
.thumbnail {
  display: block;
  margin: 4% auto 0% auto;
  width: 338px;
  height: auto;
}
.details {
  display: block;
  margin-left: 5%;
}
@media (min-width: 769px) {
}
